.table {
  color: black;
  width: 100%;
  border-width: 1px;
  border-color: #b4adae;
  text-align: center;
}

.table_header {
  background-color: #d8d5d6;
  border-width: 1px;
  border-color: #b4adae;
  height: 50px;
}

.table_row {
  border-width: 1px;
  border-color: #b4adae;
  height: 50px;
}

.table_component {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
