
.table {
    color: black;
    width: 100%;
    border-width: 1px;
    border-color: #B4ADAE;
    text-align: center;
}

.table_header {
    background-color: #D8D5D6;
    border-width: 1px;
    border-color: #B4ADAE;
    height: 50px;
    
}

.table_row {
    border-width: 1px;
    border-color: #B4ADAE;
    height: 50px;
}