
.layout {
    width: calc(100vw - var(--scrollbar-width));
    height: 100vh;
    overflow-y: hidden;
}

.header {
    width: 100%;
    min-width: 1202px;
    height: 75px;
    background-color: #D8D5D6;
    border-width: 1px;
    border-color: #B4ADAE;
}

.header_flex {
    gap: 0;
    direction: row;
    justify-content: space-between;
    height: 100%;
}

.header_title {
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    color: black;
}

.header_last_update {
    padding: 10px;
    font-size: 15px;
    color: black;
    line-height: 80px;
}

.navigator {
    width: 200px;
    min-width: 200px;
    height: 100%;
    background-color: white;
    border-width: 1px;
    border-color: #B4ADAE;
}

.body {
    height: 100%;
    flex: 1;
    background-color: white;
    border-width: 1px;
    border-color: #B4ADAE;
}